<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleMapper">

    <insert id="insertArticle">
        INSERT INTO t_artma01 (article_dt, article_seq, article_title, article_content, inp_id, inp_dttm, upd_id, upd_dttm)
             SELECT /* insertArticle */
                    TO_CHAR(now(), 'YYYYMMDD')
                  , (SELECT COALESCE(MAX(T0.article_seq), 0) + 1 FROM t_artma01 T0 WHERE T0.article_dt=(now()::DATE))
                  , #{title}
                  , #{content}
                  , #{userId}
                  , now()
                  , #{userId}
                  , now()
    </insert>




</mapper>