<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleMapper">

    <insert id="insertArticle">
        INSERT INTO t_artma01 (article_dt, article_seq, article_title, article_sub_title, article_content, inp_id, inp_dttm, upd_id, upd_dttm)
             SELECT /* insertArticle */
                    TO_CHAR(now(), 'YYYYMMDD')
                  , (SELECT COALESCE(MAX(T0.article_seq), 0) + 1 FROM t_artma01 T0 WHERE T0.article_dt=TO_CHAR(now(), 'YYYYMMDD'))
                  , #{title}
                  , #{subTitle}
                  , #{content}
                  , #{userId}
                  , now()
                  , #{userId}
                  , now()
    </insert>

    <select id="selectArticle">
        SELECT T1.article_dt                                  AS "articleDt"
            ,  T1.article_seq                                 AS "articleSeq"
            ,  T1.article_title                               AS "articleTitle"
            ,  T1.article_sub_title                           AS "articleSubTitle"
            ,  T1.article_content                             AS "articleContent"
            ,  T1.inp_id                                      AS "inpId"
            ,  T2.name                                        AS "inpNm"
            ,  to_char(T1.inp_dttm, 'YYYY년 MM월 DD일')        AS "inpDttm"
          FROM t_artma01 T1 INNER JOIN users T2
            ON T1.inp_id = T2.id
         WHERE T1.article_dt = #{articleDt}
           AND T1.article_seq = #{articleSeq}
    </select>

</mapper>