<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <insert id="insertMember">
        INSERT INTO users(name, email, password, "emailVerified") VALUES (#{name}, #{email}, #{password}, now())
    </insert>

    <insert id="insertVerification">
        INSERT INTO t_memma03(email, seq)
             SELECT #{email}
                 ,  (SELECT COALESCE(MAX(T0.seq), 0) + 1 FROM t_memma03 T0 WHERE T0.email=#{email})
          RETURNING email
                  , seq
                  , verification_code
                  , expires
    </insert>

    <select id="selectVerificationCode">
        SELECT /* selectVerificationCode */
               CASE WHEN verification_code = #{verificationCode} THEN true
                    ELSE false
                END AS "isVerified"
          FROM t_memma03 T1
         WHERE T1.email = #{email}
           AND T1.expires >= now()
      ORDER BY T1.seq DESC
         LIMIT 1
    </select>

</mapper>