.editorLabel{
    margin: 0;
    padding: 1.25rem 0 0.25rem 0;
    color: #6c757d;
    opacity: .65;
    font-size: 1rem;
}

.editorBody{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0;
    height: 300px;
    overflow: auto;
}

.editorBody:focus{
    box-shadow: none !important;
}