<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authMapper">
    <insert id="insertLoginLog">
        INSERT INTO t_logma01(req_seq, req_ip, req_email, req_succ_yn)
        SELECT (SELECT COALESCE(MAX(T0.req_seq), 0) + 1 FROM t_logma01 T0 WHERE T0.req_dt=(NOW() AT TIME ZONE 'Asia/Seoul')::DATE)
             , #{reqIp}
             , #{reqEmail}
             , #{reqSuccYn}
    </insert>

    <select id="selectLOGIN">
        SELECT /* selectLOGIN */
               T1.id
             , T1.name
             , T1.email
             , T1."emailVerified"
             , T1.image
             , T1.password
             , T1.regi_dttm AS regiDttm
          FROM users T1
         WHERE T1.email = #{email}
    </select>
</mapper>