@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-1{
  color: #484f56;
}

.font-2{
  color: #868e96;
}

h1 {
  font-size: 2.5em; /* 큰 글자 크기 */
  color: #2c3e50; /* 진한 파란색 계열 */
  margin-bottom: 0.5em;
  font-weight: bold;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  color: #34495e; /* 약간 밝은 파란 회색 */
  margin-bottom: 0.4em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  color: #7f8c8d; /* 회색 계열 */
  margin-bottom: 0.3em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  color: #95a5a6; /* 밝은 회색 */
  margin-bottom: 0.25em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  color: #bdc3c7; /* 매우 밝은 회색 */
  margin-bottom: 0.2em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  color: #ecf0f1; /* 거의 흰색에 가까운 회색 */
  margin-bottom: 0.15em;
  font-weight: 300;
  font-style: italic; /* 기울임꼴 추가 */
}