.loginBox {
    width: 30% !important;
    margin-bottom: 3rem;
}

.errMessage{
    font-size: 0.9rem;
}

@media (max-width: 1400px) {
    .loginBox {
        width: 60% !important;
    }
}

@media (max-width: 992px) {
    .loginBox {
        width: 90% !important;
    }
}

